[Unit]
Description=Timer for pixi update for mutable pixi
Wants=network-online.target

[Timer]
OnBootSec=10min
OnUnitInactiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target
